#soldier {
    background: url("veterans105.jpg") no-repeat center center fixed;
    min-height: 100%;
    /*min-width: 1024px;*/
    background-size: cover;

    position: relative;
}

.center{
  text-align: center;
}
.pics {
  display: inline-block;

}
/*.text{
  color: white;
}*/



.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 2;
    border-radius: 35px;
}
p{
  color: white;
}

#footer {
    position: relative;
    bottom: -100px;
    width: 100%;
    /*height: 22px;*/
    /*Height of the footer */*/
    background: rgba(102, 204, 255, 0.01;
}
