<div class='center'>
    <h1 class='pics'><img src="jaden.jpg" height="200" width="200"></h1>
    <h2 class= 'pics'><img src="Family.jpg" height="200" width="200"></h2>






    <html>
      <head>
        <script>
          $(document).ready(function(){
            $('.add_more').click(function(e){
              e.preventDefault();
              $(this).before("<input name='file[]' type='file'/>");
            });
          });
        </script>
      </head>
      <body>
        <form enctype="multipart/form-data" action="/upload/image" method="post">
          <input name="file[]" type="file" />
          <button class="add_more">Add More Files</button>
          <input type="submit" value="Upload File" id="upload"/>
        </form>
      </body>
    </html>



</div>


<!-- <<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form> -->

<!-- <html>
  <head>
    <script>
      $(document).ready(function(){
        $('.add_more').click(function(e){
          e.preventDefault();
          $(this).before("<input name='file[]' type='file'/>");
        });
      });
    </script>
  </head>
  <body>
    <form enctype="multipart/form-data" action="upload.php" method="post">
      <input name="file[]" type="file" />
      <button class="add_more">Add More Files</button>
      <input type="submit" value="Upload File" id="upload"/>
    </form>
  </body>
</html> -->
