<html ng-app="myApp">
	<head>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
	</script>
	<script>
	myApp=angular.module('myApp',[]);
	myApp.controller('myController',function($scope,$http){
		$http.get('data.json').success(function(response){
      // console.log(response)
      // for(var i=0; i < response.length; i++){
      //   var state = response[i].state
      //   console.log(state)
      // }
  
			$scope.myData = response;
		});
		$scope.removeName = function(row) {
			$scope.myData.splice($scope.myData.indexOf(row),1);
		}
	});
	</script>
	</head>
	<body ng-controller="myController">
		Search : <input type="text" value="" ng-model="search" />
		<table border=1>
			<tr ng-repeat="data in myData | filter : search">
				<td>{{data.address}}</td>
				<td>{{data.city}}</td>
        <td>{{data.phone}}</td>
				<td>{{data.state}}</td>
				<td><a href="" ng-click="removeName(data)">Remove</a></td>
			</tr>
		</table>
	</body>
</html>
